In [1]:
# Groupe 3: U11,15,29 

import pandas as pd
data = {
    'MOVIES': ['Dark Knight, The', 'Lord of the Rings: The Return of the King, The', 'Bourne Ultimatum, The', 'WALL∑E', 'Finding Nemo', 'Incredibles, The', 'Ratatouille', 'Monsters, Inc.', 'Shrek', 'Schindler\'s List', 'There\'s Something About Mary', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Other Side of the Bed, The', 'Pulp Fiction', 'Sin City', 'Bowling for Columbine', 'Super Size Me', 'City of God', 'Pan\'s Labyrinth', 'Star Wars: Episode III - Revenge of the Sith', 'Fantastic Four', 'Exorcist: The Beginning', 'Seven', 'Game, The', 'Pretty Woman', 'Matrix, The', 'Terminator 2: Judgment Day', 'X-Men', 'Sixth Sense, The', 'Mission: Impossible III', '300', 'Troy', 'Transformers', 'No Country for Old Men', 'Sea Inside, The', 'Pianist, The', 'Million Dollar Baby', 'Orphanage, The', 'Titanic', 'Silence of the Lambs, The', 'Brokeback Mountain', '[Rec]', 'Volver', 'Sweeney Todd: The Demon Barber of Fleet Street', 'Changeling', 'English Patient, The', 'Hotel Rwanda', 'High School Musical', 'Fahrenheit 9/11', 'Mamma Mia!'],
    'U11': [4, 4.5, 4, 5, 5, 4.5, 4.5, 4.5, 5, None, 4.5, 5, 3.5, 4.5, 2.5, 5, None, None, 4.5, 5, 1.5, None, 3.5, 2.5, 3, 4.5, 3.5, 4, 3, None, 2, None, 4.5, None, 4.5, None, None, 4, None, 2.5, 4, 5, None, 3.5, 3, None, 4, 1.5, 4, 4.5],
    'U15': [3.861111, 5, 5, 4.5, 5, 4.5, 4, 5, 5, 4.5, 3, 4.5, 4.5, None, None, 4, None, 4, 4, 5, 3.5, None, None, None, None, 4, None, 4.5, 3.5, 3.5, 4, 2, 4, None, 4.5, None, None, None, 4, 3.5, 3.5, 4, 3, 3.5, 4, None, None, None, 4, 5],
    'U29': [4.5, 2.5, 4.5, 4.5, 3, None, 3, 3.5, 3.5, 4.5, 3.5, 3.5, 3, 4, 3.5, 4, 3, None, 4, 4, 2.5, None, 5, 3, 4, 4.5, None, 3.5, 3.5, 3.5, 3, 2.5, 3.5, None, 2.5, 3, 4.5, 3.5, 3, None, 2, 3, 3.5, 4, 3, 3, None, 3, 3],
}

# Check the length of each list in the data dictionary
for key, value in data.items():
    print(f"Length of {key}: {len(value)}")

Length of MOVIES: 50
Length of U11: 50
Length of U15: 50
Length of U29: 49

In [2]:
# Fill missing value in the 'U29' list with the mean rating for each movie
data['U29'].append(3)




# Create DataFrame
df = pd.DataFrame(data)

# Fill missing NaN values in the DataFrame with the mean rating for each movie
df.fillna(df.mean(), inplace=True)

# Check DataFrame
print(df)

                                               MOVIES       U11       U15  \
0                                    Dark Knight, The  4.000000  3.861111
1      Lord of the Rings: The Return of the King, The  4.500000  5.000000
2                               Bourne Ultimatum, The  4.000000  5.000000
3                                              WALL∑E  5.000000  4.500000
4                                        Finding Nemo  5.000000  5.000000
5                                    Incredibles, The  4.500000  4.500000
6                                         Ratatouille  4.500000  4.000000
7                                      Monsters, Inc.  4.500000  5.000000
8                                               Shrek  5.000000  5.000000
9                                    Schindler's List  3.894737  4.500000
10                       There's Something About Mary  4.500000  3.000000
11  Pirates of the Caribbean: The Curse of the Bla...  5.000000  4.500000
12                         Other Side of the Bed, The  3.500000  4.500000
13                                       Pulp Fiction  4.500000  4.096032
14                                           Sin City  2.500000  4.096032
15                              Bowling for Columbine  5.000000  4.000000
16                                      Super Size Me  3.894737  4.096032
17                                        City of God  3.894737  4.000000
18                                    Pan's Labyrinth  4.500000  4.000000
19       Star Wars: Episode III - Revenge of the Sith  5.000000  5.000000
20                                     Fantastic Four  1.500000  3.500000
21                            Exorcist: The Beginning  3.894737  4.096032
22                                              Seven  3.500000  4.096032
23                                          Game, The  2.500000  4.096032
24                                       Pretty Woman  3.000000  4.096032
25                                        Matrix, The  4.500000  4.000000
26                         Terminator 2: Judgment Day  3.500000  4.096032
27                                              X-Men  4.000000  4.500000
28                                   Sixth Sense, The  3.000000  3.500000
29                            Mission: Impossible III  3.894737  3.500000
30                                                300  2.000000  4.000000
31                                               Troy  3.894737  2.000000
32                                       Transformers  4.500000  4.000000
33                             No Country for Old Men  3.894737  4.096032
34                                    Sea Inside, The  4.500000  4.500000
35                                       Pianist, The  3.894737  4.096032
36                                Million Dollar Baby  3.894737  4.096032
37                                     Orphanage, The  4.000000  4.096032
38                                            Titanic  3.894737  4.000000
39                          Silence of the Lambs, The  2.500000  3.500000
40                                 Brokeback Mountain  4.000000  3.500000
41                                              [Rec]  5.000000  4.000000
42                                             Volver  3.894737  3.000000
43     Sweeney Todd: The Demon Barber of Fleet Street  3.500000  3.500000
44                                         Changeling  3.000000  4.000000
45                               English Patient, The  3.894737  4.096032
46                                       Hotel Rwanda  4.000000  4.096032
47                                High School Musical  1.500000  4.096032
48                                    Fahrenheit 9/11  4.000000  4.000000
49                                         Mamma Mia!  4.500000  5.000000

         U29
0   4.500000
1   2.500000
2   4.500000
3   4.500000
4   3.000000
5   3.453488
6   3.000000
7   3.500000
8   3.500000
9   4.500000
10  3.500000
11  3.500000
12  3.000000
13  4.000000
14  3.500000
15  4.000000
16  3.000000
17  3.453488
18  4.000000
19  4.000000
20  2.500000
21  3.453488
22  5.000000
23  3.000000
24  4.000000
25  4.500000
26  3.453488
27  3.500000
28  3.500000
29  3.500000
30  3.000000
31  2.500000
32  3.500000
33  3.453488
34  2.500000
35  3.000000
36  4.500000
37  3.500000
38  3.000000
39  3.453488
40  2.000000
41  3.000000
42  3.500000
43  4.000000
44  3.000000
45  3.000000
46  3.453488
47  3.000000
48  3.000000
49  3.000000

/tmp/ipykernel_73958/1891065211.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

In [3]:
# Calculate the least misery aggregation strategy
df['Least Misery'] = df[['U11', 'U15', 'U29']].min(axis=1)

# Sort movies based on their least misery ratings in ascending order
df_least_misery_sorted = df.sort_values(by='Least Misery')

# display the DataFrame
print(df_least_misery_sorted)

                                               MOVIES       U11       U15  \
20                                     Fantastic Four  1.500000  3.500000
47                                High School Musical  1.500000  4.096032
30                                                300  2.000000  4.000000
40                                 Brokeback Mountain  4.000000  3.500000
31                                               Troy  3.894737  2.000000
1      Lord of the Rings: The Return of the King, The  4.500000  5.000000
14                                           Sin City  2.500000  4.096032
39                          Silence of the Lambs, The  2.500000  3.500000
23                                          Game, The  2.500000  4.096032
34                                    Sea Inside, The  4.500000  4.500000
48                                    Fahrenheit 9/11  4.000000  4.000000
28                                   Sixth Sense, The  3.000000  3.500000
24                                       Pretty Woman  3.000000  4.096032
41                                              [Rec]  5.000000  4.000000
42                                             Volver  3.894737  3.000000
44                                         Changeling  3.000000  4.000000
45                               English Patient, The  3.894737  4.096032
35                                       Pianist, The  3.894737  4.096032
38                                            Titanic  3.894737  4.000000
49                                         Mamma Mia!  4.500000  5.000000
16                                      Super Size Me  3.894737  4.096032
6                                         Ratatouille  4.500000  4.000000
4                                        Finding Nemo  5.000000  5.000000
10                       There's Something About Mary  4.500000  3.000000
12                         Other Side of the Bed, The  3.500000  4.500000
21                            Exorcist: The Beginning  3.894737  4.096032
17                                        City of God  3.894737  4.000000
46                                       Hotel Rwanda  4.000000  4.096032
26                         Terminator 2: Judgment Day  3.500000  4.096032
5                                    Incredibles, The  4.500000  4.500000
33                             No Country for Old Men  3.894737  4.096032
11  Pirates of the Caribbean: The Curse of the Bla...  5.000000  4.500000
37                                     Orphanage, The  4.000000  4.096032
29                            Mission: Impossible III  3.894737  3.500000
43     Sweeney Todd: The Demon Barber of Fleet Street  3.500000  3.500000
7                                      Monsters, Inc.  4.500000  5.000000
27                                              X-Men  4.000000  4.500000
22                                              Seven  3.500000  4.096032
32                                       Transformers  4.500000  4.000000
8                                               Shrek  5.000000  5.000000
0                                    Dark Knight, The  4.000000  3.861111
36                                Million Dollar Baby  3.894737  4.096032
9                                    Schindler's List  3.894737  4.500000
19       Star Wars: Episode III - Revenge of the Sith  5.000000  5.000000
13                                       Pulp Fiction  4.500000  4.096032
15                              Bowling for Columbine  5.000000  4.000000
25                                        Matrix, The  4.500000  4.000000
2                               Bourne Ultimatum, The  4.000000  5.000000
18                                    Pan's Labyrinth  4.500000  4.000000
3                                              WALL∑E  5.000000  4.500000

         U29  Least Misery
20  2.500000      1.500000
47  3.000000      1.500000
30  3.000000      2.000000
40  2.000000      2.000000
31  2.500000      2.000000
1   2.500000      2.500000
14  3.500000      2.500000
39  3.453488      2.500000
23  3.000000      2.500000
34  2.500000      2.500000
48  3.000000      3.000000
28  3.500000      3.000000
24  4.000000      3.000000
41  3.000000      3.000000
42  3.500000      3.000000
44  3.000000      3.000000
45  3.000000      3.000000
35  3.000000      3.000000
38  3.000000      3.000000
49  3.000000      3.000000
16  3.000000      3.000000
6   3.000000      3.000000
4   3.000000      3.000000
10  3.500000      3.000000
12  3.000000      3.000000
21  3.453488      3.453488
17  3.453488      3.453488
46  3.453488      3.453488
26  3.453488      3.453488
5   3.453488      3.453488
33  3.453488      3.453488
11  3.500000      3.500000
37  3.500000      3.500000
29  3.500000      3.500000
43  4.000000      3.500000
7   3.500000      3.500000
27  3.500000      3.500000
22  5.000000      3.500000
32  3.500000      3.500000
8   3.500000      3.500000
0   4.500000      3.861111
36  4.500000      3.894737
9   4.500000      3.894737
19  4.000000      4.000000
13  4.000000      4.000000
15  4.000000      4.000000
25  4.500000      4.000000
2   4.500000      4.000000
18  4.000000      4.000000
3   4.500000      4.500000

In [4]:
# Calculate the least misery aggregation strategy
df['Least Misery'] = df[['U11', 'U15', 'U29']].min(axis=1)

# Sort movies based on their least misery ratings in ascending order
df_least_misery_sorted = df.sort_values(by='Least Misery')

# Recommend the top three movies with the lowest least misery ratings
recommendations_least_misery = df_least_misery_sorted.head(3)[['MOVIES', 'Least Misery']]

print(recommendations_least_misery)

                 MOVIES  Least Misery
20       Fantastic Four           1.5
47  High School Musical           1.5
30                  300           2.0

In [5]:
# Calculate the most pleasure aggregation strategy
df['Most Pleasure'] = df[['U11', 'U15', 'U29']].max(axis=1)

# Sort movies based on their most pleasure ratings in descending order
df_most_pleasure_sorted = df.sort_values(by='Most Pleasure', ascending=False)

# Recommend the top three movies with the highest most pleasure ratings
recommendations_most_pleasure = df_most_pleasure_sorted.head(3)[['MOVIES', 'Most Pleasure']]

print(recommendations_most_pleasure)

                   MOVIES  Most Pleasure
49             Mamma Mia!            5.0
7          Monsters, Inc.            5.0
15  Bowling for Columbine            5.0

In [6]:
# Calculate the Borda Count aggregation strategy
df['Borda Count'] = df[['U11', 'U15', 'U29']].rank(method='min', ascending=False).sum(axis=1)

# Sort movies based on their Borda Count points in descending order
df_borda_count_sorted = df.sort_values(by='Borda Count', ascending=False)

# Recommend the top three movies with the highest Borda Count points
recommendations_borda_count = df_borda_count_sorted.head(3)[['MOVIES', 'Borda Count']]

print(recommendations_borda_count)

                       MOVIES  Borda Count
20             Fantastic Four        137.0
31                       Troy        122.0
39  Silence of the Lambs, The        112.0

In [7]:
# Define the strategies
strategies = ['Least Misery', 'Most Pleasure', 'Borda Count']

# Initialize an empty list to store recommendations
recommendations = []

# Iterate over strategies to get recommendations
for strategy in strategies:
    # Get recommendations based on strategy
    if strategy == 'Least Misery':
        recommendation = recommendations_least_misery['MOVIES'].tolist()
    elif strategy == 'Most Pleasure':
        recommendation = recommendations_most_pleasure['MOVIES'].tolist()
    elif strategy == 'Borda Count':
        recommendation = recommendations_borda_count['MOVIES'].tolist()

    # Append recommendations to the list
    recommendations.append([3, strategy] + recommendation)

# Create DataFrame for the table
df_recommendations_dynamic = pd.DataFrame(recommendations, columns=['Group ID', 'Strategy', '1st.', '2nd.', '3rd.'])

# Display the table
print(df_recommendations_dynamic)

   Group ID       Strategy            1st.                 2nd.  \
0         3   Least Misery  Fantastic Four  High School Musical
1         3  Most Pleasure      Mamma Mia!       Monsters, Inc.
2         3    Borda Count  Fantastic Four                 Troy

                        3rd.
0                        300
1      Bowling for Columbine
2  Silence of the Lambs, The

To answer the first question, yes, there are likely differences between the recommendation lists obtained using different aggregation strategies. These differences arise because each strategy calculates recommendations based on different principles. For example:

- **Least Misery:** This strategy recommends movies based on the minimum rating given by any group member. It prioritizes avoiding dissatisfaction among group members.
  
- **Most Pleasure:** This strategy recommends movies with the highest average rating among group members. It aims to maximize overall satisfaction within the group.
  
- **Borda Count:** This strategy assigns points to movies based on their rankings by group members and recommends movies with the highest total points. It considers the overall preference order of movies by group members.

Which strategy is better depends on various factors such as the nature of the group, the preferences of individual members, and the specific context of the recommendation task. For example, if avoiding dissatisfaction is crucial, the Least Misery strategy might be preferred. However, if maximizing overall satisfaction is the goal, the Most Pleasure strategy might be more suitable.

Regarding the second question, comparing the results obtained with the decisions made by the groups in a real experiment (Table 3) allows us to evaluate the effectiveness of the recommendation strategies. If there are differences between the results obtained and the decisions made by the groups, several factors could be responsible:

- **Differences in preferences:** The groups in the real experiment might have different preferences or priorities compared to the assumptions made by the recommendation strategies.

- **Effectiveness of strategies:** The recommendation strategies used in the experiment might not accurately capture the preferences of the groups or might not be optimized for the specific context of the experiment.

Advantages and disadvantages of different aggregation strategies:

- **Least Misery:** 
  - Advantage: It prioritizes avoiding dissatisfaction among group members.
  - Disadvantage: It may not maximize overall satisfaction, as it focuses on minimizing dissatisfaction.

- **Most Pleasure:** 
  - Advantage: It aims to maximize overall satisfaction within the group.
  - Disadvantage: It may overlook individual preferences or minority opinions.

- **Borda Count:** 
  - Advantage: It considers the overall preference order of movies by group members.
  - Disadvantage: It can be influenced by outliers or extreme ratings, and it may not reflect the intensity of preferences.

Overall, the choice of aggregation strategy should consider the specific goals, preferences, and context of the recommendation task. It's essential to balance between maximizing overall satisfaction and addressing individual preferences and dissatisfaction.